.main {
  position: fixed;
  font-size: 20px;
  text-align: center;
  background-color: white;
  color: black;
  height: 100px;
  width: 250px;
  right: 20px;
  // top: 85%;
  z-index: 1;
  bottom: 20px;
  display: flex;
  border-radius: 10px;
  border: #979797 1px solid;
  overflow: hidden;

  animation: 0.5s ease-out 0s 1 slideInFromRight;

  transition: all 0.5s linear;

  p {
    overflow: hidden;
    margin: auto;
  }
}

.slide {
  transform: translateX(130%);
}

.alert {
  background-color: #e28686;
  border: #d34444 1px solid;
  color: white;
}

.sucsess {
  background-color: #6fb681;
  border: #5ae77d 1px solid;
  color: white;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(130%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(130%);
  }
}
